<div class="navbar-container">
  <div class="navbar-brand">
    <img src="assets/logo.png" alt="Logo" class="navbar-logo" onerror="this.style.display='none'">
    <div class="navbar-title">
      <h1>Sistema de Gestión de Trámites</h1>
      <span class="subtitle">Gobierno Digital</span>
    </div>
  </div>
  
  <p-menubar [model]="menuItems" styleClass="navbar-menu">
    <ng-template pTemplate="end">
      <div class="navbar-info">
        <i class="pi pi-calendar mr-1"></i>
        <span>{{ today | date:'dd/MM/yyyy' }}</span>
      </div>
    </ng-template>
  </p-menubar>
</div>
